* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color:bisque ;
    margin-top: 15%;
    width: 40%;
}

.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

p {
    color: rgb(68, 59, 57);
    font-size: 20px;
}

input {
    border-radius: 5px;
    width: 70%;
    height: 40px;
}

button {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    
}

.container_2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.container_3 {
    display: flex;
    gap: 30px
}