<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="web.css">
</head>
<body>
    <div class="container">
        <div class="container_1">
            <h1 class="login" >Đăng nhập</h1>
        </div>
        <div class="container_2">
            <p class="tag">Username</p>
            <input id="username" type="text" placeholder="Username">
            <p class="tag">Password</p>
            <input id="password" type="password" placeholder="Password">
            <div class="container_3">
                <button id="loggin" class="button" onclick="login()"><p>Đăng nhập</p></button> 
                <button id="signin" class="button" onclick="signin()"><p>Đăng kí</p></button>
            </div> 
        </div>
    </div>

</body>

</html>
<script src="web.js"></script>