<!DOCTYPE html>>
<html lang="vi">
    <head>
        <title>Movie</title>
        <link rel="stylesheet" href="movie_info.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <header> <!-- Thanh điều hướng -->
            <div class="container">
                <div class="logo">
                    <a href="../../index.html">4Movie</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="../../index.html">Trang chủ</a></li>
                        <li><a href="../type_movie/type.html">Thể loại</a></li>
                        <li><a href="../../index.html#Hot_movie">Phim hot</a></li>
                        <li><a href="../../index.html#Recommended">Đề cử</a></li>
                    </ul>
                </nav>
            </div>
                    <!-- Thanh tìm kiếm và nút tìm kiếm-->
            <div class="search_container">
                <input type="text" placeholder="Tìm kiếm phim..." class="search_bar">
                 
            </div>
        </header>
        <main>
            <div class="watching_movie"></div>
            <div class="movie_info"></div>
        </main>
    </body>
</html>
<script src="Cu_Li_Never_Cries.js"></script>
